@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url("../fonts/PTS55F.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url("../fonts/PTS75F.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }
body {
  width: 100%;
  min-width: 1000px;
  font-family: 'PT Sans', sans-serif; }

ul,
a {
  margin: 0 !important;
  padding: 0 !important; }

.container-fluid {
  padding: 0; }

.navbar__header,
.navbar-menu,
.content,
.refer {
  margin-left: 135px;
  margin-right: 135px; }

@media (max-width: 1440px) {
  .navbar__header,
  .navbar-menu {
    margin-left: 15px;
    margin-right: 15px; }

  .content,
  .refer {
    margin-left: 3%;
    margin-right: 3%; }

  /*
  .heading {
    font-size: 18px;
  }*/ }
.heading {
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #810c30; }

.text {
  color: #333333;
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0; }

.caption {
  font-weight: 700;
  margin-bottom: 5px; }

.margin {
  margin-bottom: 17px; }

.uppercase {
  padding-left: 15px;
  text-transform: uppercase;
  margin-bottom: 17px; }

.form-input {
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 13px 54px 11px 17px;
  border-radius: 15px;
  line-height: 14px; }
  .form-input:focus {
    outline: none; }

.form-btn {
  background-color: #810c30;
  background-image: linear-gradient(-186deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1) 100%);
  /*  padding: 13px 47px 11px 8px;*/
  width: 171px;
  height: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-left: 15px; }
  .form-btn:hover, .form-btn:focus {
    background-color: #911b3f;
    outline: none; }

.form-mark {
  margin-right: 8px; }

.col-lg-3,
.col-lg-9 {
  padding-right: 0; }

.col-lg-9 {
  padding-left: 0; }

.news-btn {
  width: 272px;
  height: 56px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none !important;
  border-radius: 0 !important; }

.news-btn-outside {
  background-color: #f6f6f6;
  color: #820c2f;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 21px 20px 20px 19px !important;
  margin-right: 20px; }
  .news-btn-outside:hover {
    color: #820c2f; }

.news-btn-full {
  background-color: #820c2f !important;
  font-weight: 700;
  color: #fff !important;
  padding: 21px 20px 20px 19px !important;
  text-transform: uppercase; }

.header {
  width: 100%;
  background-color: #fff; }

.navbar-belt {
  position: absolute;
  right: 120px; }

.navbar__links {
  background-color: rgba(220, 220, 220, 0.25);
  padding-top: 7px;
  padding-bottom: 7px;
  height: 37px; }

.navbar-belt__menu {
  position: absolute;
  right: 0; }

.navbar-belt__item {
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  margin-right: 4px;
  margin-left: 28px;
  letter-spacing: 0.2px; }
  .navbar-belt__item:hover, .navbar-belt__item:focus {
    text-decoration: none; }
  .navbar-belt__item a {
    color: #333333;
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

.black {
  background-color: #191919;
  color: #fff;
  height: 21px;
  border-radius: 25px;
  padding: 0 10px;
  text-decoration: underline; }
  .black:hover, .black:focus {
    text-decoration: none; }

.navbar-belt__icons {
  margin-right: 3px; }

.navbar-logo {
  margin-top: 15px; }

.phones {
  margin-top: 34px;
  height: 73px; }

.phone-text {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff8288; }

.phone-number {
  color: #333333;
  font-size: 16px;
  font-weight: 400; }

@media (max-width: 1440px) {
  .phone-body {
    padding-left: 10px; } }
hr {
  background-color: #000000;
  height: 1px;
  opacity: 0.15;
  margin-top: 15px; }

.menu-item {
  text-transform: uppercase;
  height: 40px;
  padding-right: 64px;
  padding-left: 64px;
  padding-top: 10px; }
  .menu-item:hover .icon-black, .menu-item:focus .icon-black {
    opacity: 0; }
  .menu-item a {
    color: #191919;
    padding: 0 !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700; }
    .menu-item a:hover, .menu-item a:focus {
      color: #fff;
      background-color: #810c30 !important; }
      .menu-item a:hover .icon-black, .menu-item a:focus .icon-black {
        opacity: 0; }
  .menu-item:hover, .menu-item:focus {
    background-color: #810c30 !important; }
    .menu-item:hover a, .menu-item:focus a {
      color: #fff; }

.menu {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.navbar-menu {
  width: 100%;
  background-color: #fff; }

.navbar-menu-dropdown {
  width: 100%; }
  .navbar-menu-dropdown li {
    text-transform: none;
    margin: 14px 46px 19px 22px;
    width: 196px; }
    .navbar-menu-dropdown li a {
      font-family: 'PT Sans', sans-serif;
      background-color: #fff;
      color: #191919 !important;
      line-height: 30px;
      text-decoration: underline;
      white-space: normal; }
      .navbar-menu-dropdown li a:hover, .navbar-menu-dropdown li a:focus {
        background-color: #fff !important;
        text-decoration: none !important;
        color: #191919; }

@media (max-width: 1440px) {
  .menu-item {
    padding-right: 50px;
    padding-left: 50px; } }
.hero {
  position: relative; }

.carousel {
  height: 535px;
  width: 100%; }

.carousel .item {
  height: 535px; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 535px; }

.field {
  position: absolute;
  right: 206px;
  top: 0;
  width: 500px;
  height: 535px;
  color: #fff;
  font-size: 43px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase; }

.field-text {
  width: 350px;
  height: 335px;
  position: absolute;
  top: 70px;
  left: 160px;
  transform-origin: 0 100%;
  transform: skew(-20deg); }
  .field-text p {
    transform-origin: 0 0;
    transform: skew(20deg); }

.carousel-control {
  background-image: none !important;
  position: absolute;
  top: 50%;
  z-index: 10; }

.content {
  margin-top: 10px; }

.content-inner {
  margin-top: 17px;
  margin-left: 15px;
  margin-right: 15px; }

.list-group {
  width: 260px;
  position: absolute;
  right: 0; }

a.list-group-item {
  font-family: 'PT Sans', sans-serif;
  background-color: #ff8288;
  box-shadow: 1px 1px 0 #ba7275;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  padding-left: 34px !important;
  padding-right: 21px !important;
  border-radius: 0 !important;
  letter-spacing: -0.2px; }
  a.list-group-item:hover, a.list-group-item:focus {
    background-color: #fd6970;
    box-shadow: 1px 1px 0 #ac5256;
    color: #fff; }
  a.list-group-item img {
    margin-right: 10px; }

.fl-left {
  float: left; }

.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; }

.text-list {
  padding-left: 15px; }

.registration {
  background-color: #f6f6f6;
  height: 150px;
  padding-left: 34px;
  margin-top: 50px; }

.registration-form {
  margin-left: 30px;
  width: calc(50% - 40px); }

.content-contacts {
  height: 330px; }

.contacts-block {
  margin-bottom: 20px; }

.sidebar-offcanvas {
  margin-top: 20px; }

.sidebar-dropdown {
  width: 100%; }
  .sidebar-dropdown li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    width: 100%;
    text-decoration: underline; }
    .sidebar-dropdown li:hover, .sidebar-dropdown li:focus {
      text-decoration: none; }
      .sidebar-dropdown li:hover a, .sidebar-dropdown li:focus a {
        background-color: #fff !important; }

.sidebar-caret {
  position: absolute;
  top: 18px;
  right: 31px; }

.border {
  border-right: 1px solid rgba(0, 0, 0, 0.15); }

.refer {
  margin-top: 50px;
  margin-bottom: 50px; }

.thumbnail {
  padding: 0;
  border: 3px solid #fff4f5; }

.refer-img {
  height: 142px;
  background-color: #fff4f5; }

.refer-icons {
  padding-top: 20px; }

.refer-caption {
  margin: 20px 20px 22px 20px; }

.refer-text {
  color: #333333;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px; }

#sidebar-gray {
  margin-top: 30px; }

a.list-group-gray {
  font-family: 'PT Sans', sans-serif;
  background-color: #f6f6f6;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  padding-left: 34px !important;
  padding-right: 21px !important;
  border-radius: 0 !important;
  letter-spacing: -0.2px; }
  a.list-group-gray:hover, a.list-group-gray:focus {
    background-color: #fd6970;
    box-shadow: 1px 1px 0 #ac5256;
    color: #fff; }
  a.list-group-gray img {
    margin-right: 10px; }

.refer-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  color: #810c30;
  margin-left: 14px !important; }
  .refer-link:hover, .refer-link:focus {
    text-decoration: none;
    color: #810c30; }

.subscribe {
  background: url(../images/bg-subscribe.png); }
  .subscribe hr {
    background-color: #820c2f;
    height: 1px;
    opacity: 0.1;
    margin-left: -23px;
    margin-right: -23px;
    margin-bottom: 26px; }

.form-control {
  border: 1px solid rgba(130, 12, 47, 0.1);
  background-color: #fff;
  width: 220px;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 90px;
  margin-right: 90px; }

.nav-tabs {
  border-bottom: none !important; }
  .nav-tabs li {
    margin-right: 20px !important; }

.tab-content {
  margin-top: 20px; }

.media-object {
  margin-right: 20px; }

time {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 8px; }

.media-link {
  color: #810c30;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; }
  .media-link:hover {
    color: #810c30 !important;
    text-decoration: none; }

.media-heading {
  color: #191919;
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
  text-transform: uppercase; }

.media-text {
  color: #636363;
  font-size: 14px;
  line-height: 20px; }

.sources hr {
  height: 1px;
  background-color: #000;
  opacity: 0.15;
  margin-right: 135px; }

#carouselSources {
  height: 197px; }
  #carouselSources .carousel-inner.carousel-sources .item.item-sources {
    display: inline-block;
    height: 140px; }
    #carouselSources .carousel-inner.carousel-sources .item.item-sources img {
      min-width: auto !important;
      height: auto !important; }

.carousel-control-sources-left {
  position: absolute;
  left: -110px !important;
  top: 30%; }

.carousel-control-sources-right {
  position: absolute;
  right: 0px !important;
  top: 30%; }

.item-sources {
  margin-left: 50px;
  margin-right: 45px; }

.map {
  position: relative; }

.card {
  position: absolute;
  right: 4px;
  top: 48px;
  bottom: 48px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  width: 281px;
  height: 254px;
  z-index: 100; }

.card-body {
  margin: 19px 21px 20px 19px; }

.card-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #820c2f;
  text-decoration: underline;
  text-transform: uppercase; }
  .card-link:hover {
    text-decoration: none;
    color: #820c2f; }

.card-link.active {
  color: #888;
  text-decoration: none; }

.card-text {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400; }

.footer {
  background-color: #911b3f; }

.footer-menu {
  margin-top: 20px;
  margin-left: 135px;
  margin-right: 70px; }

.footer-menu-items li {
  list-style: none; }
  .footer-menu-items li a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    font-family: 'PT Sans', sans-serif; }

.footer-navbar {
  background-color: #820c2f;
  height: 40px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 135px; }
  .footer-navbar ul {
    margin-top: 0 !important;
    margin-bottom: 0; }

.footer-menu-item a {
  color: #fff; }
  .footer-menu-item a:hover, .footer-menu-item a:focus {
    background-color: #911b3e !important; }
.footer-menu-item:hover, .footer-menu-item:focus {
  background-color: #911b3e !important; }

.footer-submenu {
  margin-top: 29px;
  margin-bottom: 23px;
  margin-left: 135px; }

.footer-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0; }

.footer-bottom {
  margin-top: 60px;
  text-decoration: underline; }
  .footer-bottom a:hover {
    color: #fff; }

.footer-phone {
  color: #fff !important; }

.footer-white a {
  color: #fff !important; }

.footer-market-icon {
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: relative; }
  .footer-market-icon a {
    position: absolute;
    top: 20%;
    left: 20%; }

/*# sourceMappingURL=style.css.map */
