@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTS55F.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTS75F.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }
body {
  width: 100%;
  min-width: 1000px;
  font-family: 'PT Sans', sans-serif; }

ul,
a {
  margin: 0 !important;
  padding: 0 !important; }

.container-fluid {
  padding: 0; }

.navbar__header,
.navbar-menu,
.content,
.refer,
.sources {
  margin-left: 135px;
  margin-right: 135px; }

.heading {
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #810c30; }

.text {
  color: #333333;
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0; }

.caption {
  font-weight: 700;
  margin-bottom: 5px; }

.margin {
  margin-bottom: 17px; }

.uppercase {
  padding-left: 15px;
  text-transform: uppercase;
  margin-bottom: 17px; }

.form-input {
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 13px 54px 11px 17px;
  border-radius: 15px;
  line-height: 14px; }
  .form-input:focus {
    outline: none; }

.form-btn {
  background-color: #810c30;
  background-image: linear-gradient(-186deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1) 100%);
  /*  padding: 13px 47px 11px 8px;*/
  width: 171px;
  height: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-left: 15px; }
  .form-btn:hover, .form-btn:focus {
    background-color: #911b3f;
    outline: none; }

.form-mark {
  margin-right: 8px; }

.col-lg-3,
.col-lg-9 {
  padding-right: 0; }

.col-lg-9 {
  padding-left: 0; }

.header {
  width: 100%; }

.navbar-belt {
  position: absolute;
  right: 120px; }

.navbar__links {
  background-color: rgba(220, 220, 220, 0.25);
  padding-top: 7px;
  padding-bottom: 7px;
  height: 37px; }

.navbar-belt__menu {
  position: absolute;
  right: 0; }

.navbar-belt__item {
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  margin-right: 4px;
  margin-left: 28px;
  letter-spacing: 0.2px; }
  .navbar-belt__item:hover, .navbar-belt__item:focus {
    text-decoration: none; }
  .navbar-belt__item a {
    color: #333333;
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

.black {
  background-color: #191919;
  color: #fff;
  height: 21px;
  border-radius: 25px;
  padding: 0 10px;
  text-decoration: underline; }
  .black:hover, .black:focus {
    text-decoration: none; }

.navbar-belt__icons {
  margin-right: 3px; }

.navbar-logo {
  margin-top: 15px; }

.phones {
  margin-top: 34px; }

.phone-text {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff8288; }

.phone-number {
  color: #333333;
  font-size: 16px;
  font-weight: 400; }

hr {
  background-color: #000000;
  height: 1px;
  opacity: 0.15;
  margin-top: 15px; }

.menu-item {
  text-transform: uppercase;
  height: 40px;
  padding-right: 64px;
  padding-left: 64px;
  padding-top: 10px; }
  .menu-item a {
    color: #191919;
    padding: 0 !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700; }
    .menu-item a:hover, .menu-item a:focus {
      color: #fff;
      background-color: #810c30 !important; }
  .menu-item:hover, .menu-item:focus {
    background-color: #810c30 !important; }
    .menu-item:hover a, .menu-item:focus a {
      color: #fff; }

.menu {
  margin-top: 23px !important;
  margin-bottom: 10px !important; }

.navbar-menu-dropdown {
  width: 100%; }
  .navbar-menu-dropdown li {
    text-transform: none;
    margin: 14px 46px 19px 22px;
    width: 196px;
    word-wrap: break-word; }
    .navbar-menu-dropdown li a {
      background-color: #fff;
      color: #191919 !important;
      line-height: 30px;
      text-decoration: underline; }
      .navbar-menu-dropdown li a:hover, .navbar-menu-dropdown li a:focus {
        background-color: #fff !important;
        text-decoration: none !important;
        color: #191919; }

.hero {
  position: relative; }

.carousel {
  height: 535px;
  width: 100%; }

.carousel .item {
  height: 535px; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 535px; }

.field {
  position: absolute;
  right: 0;
  top: 0; }

.hero-heading {
  position: absolute;
  top: 97px;
  right: 226px;
  bottom: 103px;
  left: 156px;
  color: #fff;
  font-size: remy(43px);
  font-weight: 700;
  line-height: remy(60px);
  text-transform: uppercase; }

.carousel-control {
  background-image: none !important;
  position: absolute;
  top: 50%;
  z-index: 10; }

.content {
  margin-top: 10px; }

.content-inner {
  margin-top: 17px;
  margin-left: 15px;
  margin-right: 15px; }

.list-group {
  width: 260px;
  position: absolute;
  right: 0; }

a.list-group-item {
  font-family: 'PT Sans', sans-serif;
  background-color: #ff8288;
  box-shadow: 1px 1px 0 #ba7275;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  padding-left: 34px !important;
  padding-right: 21px !important;
  border-radius: 0 !important;
  letter-spacing: -0.2px; }
  a.list-group-item:hover, a.list-group-item:focus {
    background-color: #fd6970;
    box-shadow: 1px 1px 0 #ac5256;
    color: #fff; }
  a.list-group-item img {
    margin-right: 10px; }

.fl-left {
  float: left; }

.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; }

.text-list {
  padding-left: 15px; }

.registration {
  background-color: #f6f6f6;
  height: 150px;
  margin-top: 50px; }

.content-contacts {
  height: 330px; }

.contacts-block {
  margin-bottom: 20px; }

.sidebar-offcanvas {
  margin-top: 20px; }

.sidebar-dropdown {
  width: 100%; }
  .sidebar-dropdown li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    width: 100%;
    text-decoration: underline; }
    .sidebar-dropdown li:hover, .sidebar-dropdown li:focus {
      text-decoration: none; }
      .sidebar-dropdown li:hover a, .sidebar-dropdown li:focus a {
        background-color: #fff !important; }

.sidebar-caret {
  position: absolute;
  top: 18px;
  right: 31px; }

.refer {
  margin-top: 50px;
  margin-bottom: 50px; }

.thumbnail {
  padding: 0;
  border: 3px solid #fff4f5; }

.refer-img {
  height: 142px;
  background-color: #fff4f5; }

.refer-icons {
  padding-top: 20px; }

.refer-caption {
  margin: 20px 20px 22px 20px; }

.refer-text {
  color: #333333;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px; }

#sidebar-gray {
  margin-top: 30px; }

a.list-group-gray {
  font-family: 'PT Sans', sans-serif;
  background-color: #f6f6f6;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  padding-left: 34px !important;
  padding-right: 21px !important;
  border-radius: 0 !important;
  letter-spacing: -0.2px; }
  a.list-group-gray:hover, a.list-group-gray:focus {
    background-color: #fd6970;
    box-shadow: 1px 1px 0 #ac5256;
    color: #fff; }
  a.list-group-gray img {
    margin-right: 10px; }

.refer-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  color: #810c30;
  margin-left: 14px !important; }
  .refer-link:hover, .refer-link:focus {
    text-decoration: none;
    color: #810c30; }

.subscribe {
  background: url(../images/bg-subscribe.png); }
  .subscribe hr {
    background-color: #820c2f;
    height: 1px;
    opacity: 0.1;
    margin-left: -23px;
    margin-right: -23px;
    margin-bottom: 26px; }

.form-control {
  border: 1px solid rgba(130, 12, 47, 0.1);
  background-color: #fff;
  width: 220px;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 90px;
  margin-right: 90px; }

.sources hr {
  height: 1px;
  background-color: #000;
  opacity: 0.15; }

.item-sources {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
