@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('../fonts/PTS55F.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('../fonts/PTS75F.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  min-width: 1000px;
  font-family: 'PT Sans', sans-serif;
}
ul,
a {
  margin: 0 !important;
  padding: 0 !important;
}
.container-fluid {
  padding: 0;
}
.navbar__header,
.navbar-menu,
.content,
.refer {
  margin-left: 135px;
  margin-right: 135px;
}
@media (max-width: 1440px) {
  .navbar__header,
  .navbar-menu {
    margin-left: 15px;
    margin-right: 15px;
  }
  .content,
  .refer {
    margin-left: 3%;
    margin-right: 3%;
  }
  /*
  .heading {
    font-size: 18px;
  }*/
}
.heading {
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #810c30;
}
.text {
  color: #333333;
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}
.caption {
  font-weight: 700;
  margin-bottom: 5px;
}
.margin {
  margin-bottom: 17px;
}
.uppercase {
  padding-left: 15px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.form-input {
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 13px 54px 11px 17px;
  border-radius: 15px;
  line-height: 14px;

  &:focus {
    outline: none;
  }
}
.form-btn {
  background-color: #810c30;
  background-image: linear-gradient(-186deg, rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 0) 49%,
  rgba(255, 255, 255, 0.1) 51%,
  rgba(255, 255, 255, 0.1) 100%);
/*  padding: 13px 47px 11px 8px;*/
  width: 171px;
  height: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-left: 15px;

  &:hover,
  &:focus {
    background-color: #911b3f;
    outline: none;
  }
}
.form-mark {
  margin-right: 8px;
}
.col-lg-3,
.col-lg-9 {
  padding-right: 0;
}
.col-lg-9 {
  padding-left: 0;
}
.news-btn {
  width: 272px;
  height: 56px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none !important;
  border-radius: 0 !important;
}
.news-btn-outside {
  background-color: #f6f6f6;
  color: #820c2f;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 21px 20px 20px 19px !important;
  margin-right: 20px;

  &:hover {
    color: #820c2f;
  }
}
.news-btn-full {
  background-color: #820c2f !important;
  font-weight: 700;
  color: #fff !important;
  padding: 21px 20px 20px 19px !important;
  text-transform: uppercase;
}

