a.list-group-item {
  background-color: #ff8288;
  box-shadow: 1px 1px 0 #ba7275;
  color: #fff;
  font-size: remy(13px);
  font-weight: 700;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #fd6970;
    box-shadow: 1px 1px 0 #ac5256;
    color: #fff;
  }

  img {
    margin-right: 10px;
  }
}
.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.text-list {
  padding-left: 15px;
}
.registration {
  background-color: #f6f6f6;
}
.sidebar-offcanvas {
  margin-top: 30px;
}
.sidebar-dropdown {
  width: 100%;

  li {
    font-size: remy(14px);
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    width: 100%;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;

      a {
        background-color: #fff !important;
      }
    }
  }
}
