.list-group-item {
  background-color: #ff8288;
  box-shadow: 1px 1px 0 #ba7275;
}
.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.text-list {
  padding-left: 15px;
}
.registration {
  background-color: #f6f6f6;
}
.sidebar-offcanvas {
  margin-top: 30px;
}
