.footer {
  background-color: #911b3f;
}
.footer-menu {
  margin-top: 20px;
  margin-left: 135px;
  margin-right: 70px;
}
.footer-menu-items {
  li {
    list-style: none;

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      color: #fff;
      font-family: 'PT Sans', sans-serif;
    }
  }
}
.footer-navbar {
  background-color: #820c2f;
  height: 40px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 135px;

  ul {
    margin-top: 0 !important;
    margin-bottom: 0;
  }
}
.footer-menu-item {
  a {
    color: #fff;

    &:hover,
    &:focus {
      background-color: #911b3e !important;
    }
  }

  &:hover,
  &:focus {
    background-color: #911b3e !important;
  }
}
.footer-submenu {
  margin-top: 29px;
  margin-bottom: 23px;
  margin-left: 135px;
}
.footer-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}
.footer-bottom {
  margin-top: 60px;
  text-decoration: underline;

  a {
    &:hover {
      color: #fff;
    }
  }
}
.footer-phone {
  color: #fff !important;
}
.footer-white {
  a {
    color: #fff !important;
  }
}
.footer-market-icon {
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;

  a {
    position: absolute;
    top: 20%;
    left: 20%;
  }
}

