.footer {
  background-color: #911b3f;
}
.footer-menu {
  margin-top: 20px;
  margin-left: 135px;
  margin-right: 70px;
}
.footer-menu-items {
  li {
    list-style: none;

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      color: #fff;
      font-family: 'PT Sans', sans-serif;
    }
  }
}
