.header {
  width: 100%;
  background-color: #fff;
}
.navbar-belt {
  position: absolute;
  right: 120px;
}
.navbar__links {
  background-color: rgba(220,220,220,.25);
  padding-top: 7px;
  padding-bottom: 7px;
  height: 37px;
}
.navbar-belt__menu {
  position: absolute;
  right: 0;
}
.navbar-belt__item {
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  margin-right: 4px;
  margin-left: 28px;
  letter-spacing: 0.2px;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  a {
    color: #333333;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
.black {
  background-color: #191919;
  color: #fff;
  height: 21px;
  border-radius: 25px;
  padding: 0 10px;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.navbar-belt__icons {
  margin-right: 3px;
}
.navbar-logo {
  margin-top: 15px;
}
.phones {
  margin-top: 34px;
  height: 73px;
}
.phone-text {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff8288;
}
.phone-number {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1440px) {
  .phone-body {
    padding-left: 10px;
  }
}
hr {
  background-color: #000000;
  height: 1px;
  opacity: 0.15;
  margin-top: 15px;
}
.menu-item {
  text-transform: uppercase;
  height: 40px;
  padding-right: 64px;
  padding-left: 64px;
  padding-top: 10px;

  &:hover,
  &:focus {
    .icon-black {
      opacity: 0;
    }
  }

  a {
    color: #191919;
    padding: 0 !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #810c30 !important;

      .icon-black {
        opacity: 0;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: #810c30 !important;

    a {
      color: #fff;
    }
  }
}
.menu {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.navbar-menu {
  width: 100%;
  background-color: #fff;
}
.navbar-menu-dropdown {
  width: 100%;

  li {
    text-transform: none;
    margin: 14px 46px 19px 22px;
    width: 196px;

    a {
      font-family: 'PT Sans', sans-serif;
      background-color: #fff;
      color: #191919 !important;
      line-height: 30px;
      text-decoration: underline;
      white-space: normal;

      &:hover,
      &:focus {
        background-color: #fff !important;
        text-decoration: none !important;
        color: #191919;
      }
    }
  }
}
.menu-search {
  background-color: #f6f6f6;
  margin-left: -135px;
  margin-right: -135px;
  display: none;

  input {
    border: 1px solid #c7c7c7;
    background-color: #fff;
    height: 24px;
    width: 363px;
  }
  button {
    height: 24px !important;
    width: 77px;
    padding: 3px 18px 5px 19px;
    border: 0;
    margin-bottom: 8px;
    margin-top: 8px;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
.hidden {
  opacity: 0;
}
.search-open {
  display: block !important;
  width: 100%;
  margin-left: -135px;
  margin-right: -135px;
}
.close-btn {
  color: #333;
  font-size: 14px;
  text-decoration: underline;
  background-color: #f6f6f6;
  position: absolute;
  right: 135px;
  padding: 0 !important;
  width: 130px !important;

  img {
    margin-left: 13px;
  }

  &:hover,
  &:focus {
    color: #333 !important;
    text-decoration: none;
    outline: none;
  }
}
@media (max-width: 1440px) {
  .menu-item {
    padding-right: 50px;
    padding-left: 50px;
  }
}
.stickytop {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #820c2f;
  margin-left: 0;
}
