.header {
  width: 100%;
}
.navbar__links {
  background-color: rgba(220,220,220,.25);
  padding-top: 7px;
  padding-bottom: 7px;
  height: 37px;
}
.navbar-belt,
.navbar__header {
  margin-left: 135px;
  margin-right: 135px;
}
.navbar-belt__item {
  font-size: remy(13px);
  font-weight: 400;
  text-decoration: underline;

  a {
    color: #333333;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
.black {
  background-color: #191919;
  color: #fff;
  height: 23px;
  border-radius: 25px;
  padding: 0 10px;
}
.navbar-belt__icons {
  margin-right: 3px;
}
.navbar-logo {
  margin-top: 10px;
}
.phones {
  margin-top: 34px;
}
.phone-text {
  font-size: remy(12px);
  font-weight: 700;
  text-transform: uppercase;
  color: #ff8288;
}
.phone-number {
  color: #333333;
  font-size: remy(16px);
  font-weight: 400;
}
hr {
  background-color: #000000;
  height: 1px;
  opacity: 0.15;
  margin-top: 15px;
}
.menu-item {
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  height: remy(40px);
  padding-right: 77px;
  padding-left: 76px;

  a {
    color: #191919;
    padding: 0 !important;

    &:hover {
      color: #fff;
      background-color: #810c30 !important;
    }
  }

  &:hover {
    background-color: #810c30 !important;
  }
}
.menu {
  margin: 23px 135px 30px 135px;
}
