.hero {
  position: relative;
}
.carousel {
  height: 535px;
  width: 100%;
}
.carousel .item {
  height: 535px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 535px;
}
.field {
  position: absolute;
  right: 0;
  top: 0;
  width: 706px;
  height: 535px;
}
.field-text {
  width: 200px;
  height: 335px;
  position: absolute;
  top: 70px;
  left: 215px;
  transform: rotate(0deg);
  white-space: normal;
}
.hero-heading {
  color: #fff;
  font-size: 43px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 !important;
}
.carousel-control {
  background-image: none !important;
  position: absolute;
  top: 50%;
  z-index: 10;
}
