.map {
  position: relative;
  margin-top: 20px;
}
.card {
  position: absolute;
  right: 4px;
  top: 48px;
  bottom: 48px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  width: 281px;
  height: 254px;
  z-index: 100;
}
.card-body {
  margin: 19px 21px 20px 19px;
}
.card-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #820c2f;
  text-decoration: underline;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: #820c2f;
  }
}
.card-link.active {
  color: #888;
  text-decoration: none;
}
.card-text {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
}
