.refer {
  margin-top: 50px;
}
.thumbnail {
  padding: 0;
  border: 3px solid #fff4f5;
  max-height: 356px;
}
.refer-img {
  height: 142px;
  background-color: #fff4f5;
}
.refer-icons {
  padding-top: 20px;
}
.refer-caption {
  margin: 20px 20px 22px 20px;
  height: 262px;
}
.refer-text {
  color: #333333;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 14px;
  height: calc(100% - 190px);
  overflow: hidden;
}
.refer-body {
  height: calc(100% - 70px);
  overflow: hidden;
}
.sidebar-gray {
  margin-top: 30px;
  margin-bottom: 30px;
}
a.list-group-gray {
  font-family: 'PT Sans', sans-serif;
  background-color: #f6f6f6;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  padding-left: 22px !important;
  padding-right: 21px !important;
  border-radius: 0 !important;
  letter-spacing: -0.2px;

  &:hover,
  &:focus {
    background-color: #fd6970;
    box-shadow: 1px 1px 0 #ac5256;
    color: #fff;
  }

  img {
    margin-right: 10px;
  }
}
.refer-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  color: #810c30;

  &:hover,
  &:focus {
     text-decoration: none;
     color: #810c30;
  }
}
.news-link {
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  color: #810c30;

  &:hover,
  &:focus {
     text-decoration: none;
     color: #810c30;
  }
}
.subscribe {
  background: url(../images/bg-subscribe.png);

  hr {
    background-color: #820c2f;
    height: 1px;
    opacity: 0.1;
    margin-left: -23px;
    margin-right: -23px;
    margin-bottom: 26px;
  }
}
.form-group {
  margin-left: auto !important;
  margin-right: auto !important;
}
.form-control {
  border: 1px solid rgba(130, 12, 47, 0.1);
  background-color: #fff;
  height: 40px;
  margin-bottom: 5px;
}
.nav-tabs {
  border-bottom: none !important;

  li {
    margin-right: 20px !important;
  }
}
.nav-tabs {
  li.active {
    a {
      background-color: #820c2f !important;
      border-radius: 0 !important;
      font-weight: 700;
      color: #fff !important;
      padding: 21px 20px 20px 19px !important;
      text-transform: uppercase;
    }
  }
}
.tab-content {
  margin-top: 20px;
}
.media-object {
  margin-right: 20px;
  float: left;
}
time {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 8px;
}
.media-link {
  color: #810c30;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  border: 0 !important;

  &:hover {
    color: #810c30 !important;
    text-decoration: none;
    background-color: #fff !important;
  }
}
.media-heading {
  color: #191919;
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}
.media-text {
  color: #636363;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 1440px) {
  .form-group {
    width: 220px;
  }
}
.form-check {
  label {
    vertical-align: text-bottom;
  }
}
input[type='radio']:checked {
   display: none;
   width: 17px;
   height: 17px;
   z-index: 99999;
   position: relative;
   cursor: pointer;
}
input[type='radio']:checked + label {
    padding-left: 18px;
    height: 18px;
    width: 18px;
    background-image: url(../images/icons/radio.png);
    background-repeat: no-repeat;
}
.refer-subscribe {
  border-top: 1px solid rgba(130,12,47,.1);
  padding-top: 26px;
}
#myTab {
  min-height: 140px;
}
.tab-content {
  position: relative;
  margin-top: 20px;
}
.tab-pane {
  margin-left: 35px;
  margin-right: 35px;
}
.controls {
  position: relative;
}
.arrow-prev,
.arrow-next {
  position: absolute;
  background-color: #f6f6f6;
  height: 100%;
  min-height: 40px;
  border: none;
  bottom: 0;
}
.arrow-next {
  right: 0;
}
