.sources {
  hr {
    height: 1px;
    background-color: #000;
    opacity: 0.15;
    margin-right: 135px;
  }
}
#carouselSources {
  height: 197px;

  .carousel-inner.carousel-sources {
    .item.item-sources {
      display: inline-block;
      height: 140px;

      img {
        min-width: auto !important;
        height: auto !important;
      }
    }
  }
}
.carousel-control-sources-left {
  position: absolute;
  left: -110px !important;
  top: 30%;
}
.carousel-control-sources-right {
  position: absolute;
  right: 0px !important;
  top: 30%;
}
.item-sources {
  margin-left: 50px;
  margin-right: 45px;
}

