.sources {
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 50px;
  padding-top: 29px;
  padding-bottom: 29px;
  height: 199px;
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carousel-control{
    &.left, &.right{
      background-image: none;
      width: 30px;
    }
  }
}
.carousel-control-sources-left {
  position: absolute;
  left: -15px !important;
  top: 10%;
}
.carousel-control-sources-right {
  position: absolute;
  right: 0px !important;
  top: 10%;
}
.img-responsive {
  margin-left: auto;
  margin-right: auto;
}


