th,
td {
  vertical-align: middle !important;
  text-align: center;
}
.word-break {
  white-space: normal;
  word-break: break-word;
}
.nowrap {
  white-space: nowrap;
}
.td-body {
  margin-left: 75px;
}
